name: Release

on:
  push:
    tags:
      - "v*"

env:
  CARGO_TERM_COLOR: always

jobs:
  build-and-release:
    name: Build and Release
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build Release
        run: cargo build --release --verbose

      - name: Strip Binary
        run: strip target/release/cqr

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: target/release/cqr
          generate_release_notes: true
          draft: false
          prerelease: false
